<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "Phoenix" %></h1>
  <p>Peace of mind from prototype to production</p>
</section>

<section class="row">
  <article class="column">
    <h2>Resources</h2>
    <p>Another info is here</p>
  </article>
  <article class="column">
    <h2>Help</h2>
    <p>something is here should be</p>
  </article>
</section>
